# macOS
.DS_Store
.AppleDouble
.LSOverride

# IntelliJ / JetBrains
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Fast Request plugin
.fastRequest/

# Dev containers
.devcontainer/

# Environment / secrets
.env
.env.*
!.env.example

# Logs
*.log

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
dist/
.angular/cache/


screenshots/